<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to Employee Management System</h1>
    <a href = {% url 'all_employee_list' %} > All employee list </a>
    <br>
    {% if employee %}
        {% for emp in employee %}
            {{emp.user}}
            {{emp.gender}}
        {% endfor %}
    {% endif %}

    {% if employee_detail %}
        {{employee_detail.user}}
        {{employee_detail.mobile_no}}
    {% endif %}

    {% if form_add %}
        {{form_add.as_p}}
    {% endif %}
    
    {% if form_edit %}
        {{form_edit.as_p}}
    {% endif %}

    {% if holiday %}
        {% for holi in holiday %}
            {{holi.date}}           
        {% endfor %}
    {% endif %}

    {% if form_add_holiday %}
        {{form_add_holiday.as_p}}
    {% endif %}
    
    {% if form_edit_holiday %}
        {{form_edit_holiday.as_p}}
    {% endif %}


    {% if attendence %}
        {% for atten in attendence %}
            {{atten.employee}}           
            {{atten.check_in}}           
        {% endfor %}
    {% endif %}

    {% if Emp_attendace_details %}
        {{Emp_attendace_details.employee}}
        {{Emp_attendace_details.check_in}}
    {% endif %}

    {% if form_add_attendace %}
        {{form_add_attendace.as_p}}
    {% endif %}
    
    {% if form_edit_attendace %}
        {{form_edit_attendace.as_p}}
    {% endif %}
    
    {% if leave %}
        {% for leav in leave %}
            {{leav.employee}}           
            {{leav.leave_Title}}           
        {% endfor %}
    {% endif %}
    
    {% if leave_balance %}
        {% for leav_b in leave_balance %}
            {{leav_b.employee}}           
            {{leav_b.Total}}           
        {% endfor %}
    {% endif %}
    
    {% if Emp_leave_details %}
        {{Emp_leave_details.employee}}
        {{Emp_leave_details.leave_Title}}
    {% endif %}
    
    {% if Emp_leave_balance_details %}
        {{Emp_leave_balance_details.employee}}
        {{Emp_leave_balance_details.year}}
    {% endif %}
    
    {% if form_add_leave %}
        {{form_add_leave.as_p}}
    {% endif %}

    {% if form_balance_add %}
        {{form_balance_add.as_p}}
    {% endif %}
    
    {% if form_edit_leave %}
        {{form_edit_leave.as_p}}
    {% endif %}

    {% if form_balance_edit %}
        {{form_balance_edit.as_p}}
    {% endif %}
    
    {% if Leave_yearly_list %}
        {% for leave_year in Leave_yearly_list %}
            {{leave_year.employee}}           
            {{leave_year.year}}           
        {% endfor %}
    {% endif %}
    
    {% if form_year_add %}
    {{form_year_add.as_p}}
    {% endif %}
    
    {% if form_year_edit %}
        {{form_year_edit.as_p}}
    {% endif %}
    
    
    {% if salary %}
        {% for sal in salary %}
            {{sal.employee}}           
            {{sal.attendance}}           
            {{sal.salary}}           
        {% endfor %}
    {% endif %}
    
    {% if Emp_salary_details %}
        {{Emp_salary_details.employee}}
        {{Emp_salary_details.attendance}}
        {{Emp_salary_details.salary}}
    {% endif %}

    {% if form_add_Emp_salary %}
        {{form_add_Emp_salary.as_p}}
    {% endif %}
    
    {% if form_edit_Emp_salary %}
        {{form_edit_Emp_salary.as_p}}
    {% endif %}


</body>
</html>